// main: ../style.less

.intro {
	
	@media @mobile {
		margin-top: 100px;
	}
}

.intro__inner {
	display: flex;
	padding-top: 6.6rem;
	padding-bottom: 8rem;
	position: relative;

	background: url("/img/symbols.png") right bottom no-repeat;
	border-bottom: 1px solid fade(@gray, 30%);

	@media @tablet {
		padding-top: 3rem;
		padding-bottom: 3rem;

		background-size: 400px auto;
	}

	@media @mobile {
		background-size: 300px auto;
	}
}

.intro__content {
	width: 50%;

	@media @mobile {
		width: 60%;
	}

	@media @mobile-sm {
		width: 100%;
	}
}

.intro__subtitle {
	margin: 5px 0;

	font-size: 2.13rem;
	color: @black;
	font-weight: 200;

	@media @tablet {
		font-size: 1.5rem;
	}
}

.intro__title {
	margin-bottom: 5px;
	margin-top: 5px;

	font-size: 3rem;
	color: @black;
	font-weight: 700;

	@media @tablet {
		font-size: 2rem;
	}
}

.intro__text {
	margin-bottom: 25px;

	font-size: 1.2rem;
	color: fade(@black, 70%);
}

.intro__photo {
	position: absolute;
	bottom: -1px;
	right: 0;
	z-index: 1;

	@media @tablet {
		width: 350px;
	}

	@media @mobile {
		width: 300px;
	}

	@media @mobile-sm {
		display: none;
	}
}